
testjpa/.idea/compiler.xml
testjpa/.idea/dataSources.xml
testjpa/.idea/encodings.xml
testjpa/.idea/jarRepositories.xml
testjpa/.idea/misc.xml
testjpa/.idea/jpa-buddy.xml
testjpa/.idea/modules.xml
testjpa/.idea/testjpa.iml
testjpa/.idea/uiDesigner.xml
testjpa/.mvn/wrapper/maven-wrapper.jar
testjpa/.mvn/wrapper/maven-wrapper.properties
testjpa/HELP.md
testjpa/mvnw
testjpa/mvnw.cmd
